@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: #000000;
  overflow-x: hidden;
}

.headerHr {
  background-color: white;
  width: 100%;
  height: 4px;
  margin: 0;
}

.header {
  color: white;
}

.headerLogo {
  font-size: 36px;
}

.headerTopContent {
  margin: 3em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.headerTopContentBetween {
  display: flex;
  justify-content: space-between;
  gap: 79vw;
  align-items: center;
}

.headerNavBar {
  display: flex;
  gap: 26px;
  position: absolute;
  left: 4em;
  top: 65%;
  transform: translateY(-10%) rotate(-90deg); /* This centers it vertically while keeping the rotation */
  transform-origin: left top;
  font-family: "Manrope", sans-serif;
}


.headerNavBar a {
  text-decoration: none;
  color: white;
}

.modeToggle {

  
  width: fit-content;
}

.headerCenterWrapper {
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100vw;
  pointer-events: none; 
  margin-left: 3em;
}

.headerCenterDiv {
  text-align: center;
  font-family: "DotGothic16", sans-serif;
  font-size: 60px;
  font-weight: 100;
  pointer-events: auto; 
}

.hamburger-menu {
  display: none;

}




.navFooter {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 1em;
  /* Optional for a little space between the footer content and the bottom */
}

.footerHr {
  width: 24vw;
  height: 0.5vh;
  background-color: white;
  margin-bottom: 0.5vw;
}

.footerP {
  font-family: "Manrope", sans-serif;
}

@media (max-width: 1024px) {
  .headerCenterDiv {
    font-size: 33px;
  }

  .headerNavBar {
    margin-top: 28.25em;
  }
  
}

@media (max-width: 800px) {
  .headerTopContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 33vw;
  }

  .headerLogo {
    font-size: 21px;
  }

  .hamburger-menu {
    display: block; /* Show hamburger on small screens */
    align-items: center;
  }

  .headerNavBar {
    display: none; /* Hide regular navbar on small screens */
    margin-bottom: 12em;
  }

  .headerNavBar.show {
    display: flex;
    flex-direction: column;
    gap: 26px;
    font-size: 15px;
    width: fit-content;
    transform: none;
    margin-top: -29em;
    margin-right: 1em;
    transform: translateX(14em);
    
    padding: 10px;
    
  }

  .headerCenterDiv {
    font-size: 12px;
    margin-right: 6em;
  }

  .headerCenterWrapper {
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .modeToggle {
    display: none;
  }

  .footerP {
    font-size: 10px;
  }
}
