.contactWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.contactH1 {
  font-size: 90px;
  font-weight: bolder;
}

.contactHr {
  background-color: white;
  width: 90px;
  height: 7px;
  margin-top: 9px
}

.contactSocials {
  margin-top: 7vh;
  display: flex;
  gap: 90px;
}

